.div{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
 

.content{
    padding: 10px;
    width: 200px;
    height: 310px;
    border-radius: 30px;
    margin: 10px;
    margin: 10px;
    background: #7410a9e2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    box-shadow: 3px 3px 3px 3px rgba(22, 22, 22, 0.3);
}

.image{
    display: flex;
    position: relative;
    width: 180px;
    justify-content: center;

}

.color{
    color: black;
}